<pre>
<%= @board %>
</pre>
<div>
<%= @error %>
</div>
<div>
<form>
<select name="ship">
  <option value="submarine">Submarine</option>
  <option value="destroyer">Destroyer</option>
  <option value="cruiser">Cruiser</option>
  <option value="battleship">Battleship</option>
  <option value="aircraft_carrier">Aircraft Carrier</option>
</select>
  <input type="text" name="coords">
  <input type="text" name="direction">
  <input type="submit" value="submit">
</form>
</div>
<div> 
  <form action="/bomb">
    <input type="submit" value ="Start Shooting">
  </form> 
</div>