<pre>
<%= @board %>
</pre>

<div>
<form>
  <input type="text" name="ship">
  <input type="text" name="coords">
  <input type="text" name="direction">
  <input type="submit" value="submit">
</form>
</div>