<pre>
<%= @board %>
</pre>
<div>
<%= @hit_miss %><%= @error %>
</div>
Where do you want to attack your opponent?

<form action="/bomb">
  <input type="text" name="coords">
  <input type="submit" value="Bomb!">
</form>
